@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  height: 1rem;
  width: .5rem
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217,217,227,.8);
  border-color: rgba(255,255,255, var(--tw-border-opacity));
  border-radius: 6px;
  border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(236,236,241, var(--tw-bg-opacity))
}

body {
  background: #427CBC;
  overflow: hidden scroll;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
}

body.blur {
  filter: blur(5px);
}

body h3 {
  color: black;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 12.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-bottom: 20px;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 650;
  margin-right: 30px;
}

.navbar a::after {
  content: '';
  position: absolute;
  left:0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #e4e4e4;
  border-radius: 5px;
  transform: translateY(8px);
  opacity: 0;
  transition: .5s;
}

.navbar a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.container {
  width: 350px;
  height: 500px;
  border-radius: 2rem;
  perspective: 800px;
  background: transparent;   
}

.container:hover> .card {
  cursor: pointer;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: relative;
  transition: transform 1100ms;
  transform-style: preserve-3d;
  background: transparent; 
}

.card:hover {
  transform: scale(1.015);
}

.card h3 {
  font-weight: 650;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: white;
  text-align: center;
  justify-content: center;
}

.front p {
  position: relative;
  text-align: center;
  justify-content: center;
  padding-top: 80%;
  margin-bottom: 15px;
}

.back {
  background-color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.term {
  border-radius: 15px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 100px;
}

.definition {
  border-radius: 15px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  /* display: none; */
}

.button{
  text-align: center;
  margin-top: 100px;
}

.but{
  text-align: center;
  margin-top: 2rem;
  color: black;
}

button:hover{
  transform: scale(1.025);
}

.langSel select {
  font-size: 14.5px;
  background: transparent;
  color: #e4e4e4;
  border: none;
  outline: none;
  font-weight: 650;
}

.langSel select:focus option {
  color: black;
}

.a-logo {
  width: 32px;
  height: 32px;
} 

.modal {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, .3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
  border-radius: 10px;
}
  
.modal input {
  max-width: 500px;
}
  
.modal-content {
  position: relative;
  width: 800px;
  max-width: 800px;
  padding: 60px;
  z-index: 1;
  color:black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 1px 13px -1px rgba(0, 0, 0, 0.08);
}

.modal-content button {
  margin-right: 15px;
}

.modal-content h2 {
  font-weight: 550;
  margin-bottom: 50px;
  padding: 0;
}

.modal-content h3 {
  margin-bottom: 35px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}
  
.modal-content .closeModal-btn {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 36px;
  top: 10px;
  right: 10px;
} 
  
.modal-content .closeModal-btn:hover {
  color:black;
  font-weight: 650;
  transform: scale(1.025);
}

.containerG {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 500px;
  border-radius: 10px;
  perspective: 800px;
  background: transparent;
  margin: 0 auto;
}

.containerG .leftM {
  margin: 15px 25px;
  color: white;
}

.leftM h3 {
  color: #fff;
  font-weight: 550;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  text-underline-offset: 0.1em;
}

.termD span {
  font-weight: 600;
}

.termEd span {
  font-weight: 600;
}
