@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

::-webkit-scrollbar {
    height: 1rem;
    width: .5rem
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(217,217,227,.8);
    border-color: rgba(255,255,255, var(--tw-border-opacity));
    border-radius: 6px;
    border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(236,236,241, var(--tw-bg-opacity))
}

body {
    margin: 0;
    background: #427CBC;
    -webkit-font-smoothing: antialiased;
}

.table-container {
    position: relative;
    width: 75%;
    color: black;
    margin: 0 auto;
    height: 600px;
    background: white; 
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
}

.table-container .content {
    color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.table-container .hello-user {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display:flex;
    justify-content: space-between;
}

.hello-user a i {
    transition: .5s ease;
}

.hello-user a:hover {
    transform: scale(1.025);
}

.content .but-func {
    width: 30%;
    margin: -15px 0 15px;
    display: flex;
    justify-content:space-between;
}

.but-func a i {
    transition: .5s ease;
}

.but-func a:hover {
    transform: scale(1.025);
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 650;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(8px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.langSel select {
    font-size: 14.5px;
    background: transparent;
    color: #e4e4e4;
    border: none;
    outline: none;
    font-weight: 650;
  }

  .langSel select:focus option {
    color: black;
  }


.a-logo {
   width: 32px;
   height: 32px;
}

