@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    height: 1rem;
    width: .5rem
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(217,217,227,.8);
    border-color: rgba(255,255,255, var(--tw-border-opacity));
    border-radius: 6px;
    border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(236,236,241, var(--tw-bg-opacity))
}

body {
    margin: 0;
    background: #427CBC;
    font-family: sans-serif;
    font-weight: 100; 
}

body h1 {
    justify-content: center;
    text-align: center;
    color: #fff;
}

body.blur {
    filter: blur(5px);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 10px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 10px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(15px);
    transition: 0.5s;
}

.container .box:hover:before,
.container .box:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);


}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after{
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after{
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after{
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.container .box span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blue(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite ;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.container .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
    
}

.container .box span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blue(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite ;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}

.container .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.container .box .content{
    /* display: none; */
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px ;
    backdrop-filter: blue(10px);
    z-index: 1;
    transition: 0.5s;
    color: white;
}

.container .box:hover {
    cursor: pointer;
}

.container .box:hover .content{
    left: -25px;
}

.container .box .content h2{
    font-size: 2em;
    margin-bottom: 10px;

}

.container .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container .box .content a {
    display: inline-block;
    font-size: 1.1em;
    padding: 10px;
    text-decoration: none;
    font-weight: 550;
}

.header {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 12.5%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 20px;
}


.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 650;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(8px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.langSel select {
    font-size: 14.5px;
    background: transparent;
    color: #e4e4e4;
    border: none;
    outline: none;
    font-weight: 650;
  }

.langSel select:focus option {
    color: black;
  }

.a-logo {
    width: 32px;
    height: 32px;
 } 

